@model MvcOnlineTicariOtomasyon.Models.Classes.Product
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Ürün Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.ProductBrand)
    @Html.TextBoxFor(x => x.ProductBrand, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.ProductStock)
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.ProductPurchasePrice)
    @Html.TextBoxFor(x => x.ProductPurchasePrice, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.ProductSalesPrice)
    @Html.TextBoxFor(x => x.ProductSalesPrice, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.IsStock)
    @Html.TextBoxFor(x => x.IsStock, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Category.CategoryID)
    @Html.DropDownListFor(x => x.Categoryid,(List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.Categoryid, new { @class = "form-control" })*@
    <br />

    @Html.LabelFor(x => x.ProductImage)
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
